https://leetcode.com/problems/actors-and-directors-who-cooperated-at-least-three-times/

In [ ]:
select actor_id,director_id
from ActorDirector 
group by actor_id,director_id
Having count(timestamp)>=3;

https://leetcode.com/problems/fix-names-in-a-table/

In [ ]:
SELECT Users.user_id , CONCAT(UPPER(SUBSTR(Users.name,1,1)),LOWER(SUBSTR(Users.name,2))) AS name 
FROM Users
ORDER BY
Users.user_id ASC

https://leetcode.com/problems/combine-two-tables/

In [ ]:
select Person.firstName, Person.lastName, Address.city ,Address.state 
FROM Person
LEFT JOIN Address
ON Person.personId = Address.personId;

https://leetcode.com/problems/second-highest-salary/

In [ ]:
SELECT (
    SELECT DISTINCT salary
    FROM Employee
    ORDER BY salary DESC
    LIMIT 1 OFFSET 1
) AS SecondHighestSalary;

https://leetcode.com/problems/list-the-products-ordered-in-a-period/

In [ ]:
select p.product_name,sum(o.unit)as unit
from products p left join orders o
on p.product_id=o.product_id
where o.order_date between '2020-02-01' and '2020-02-29'
group by o.product_id
having unit>=100;

https://leetcode.com/problems/replace-employee-id-with-the-unique-identifier/

SELECT euni.unique_id, e.name 
FROM Employees e  
LEFT JOIN EmployeeUNI euni  
ON e.id = euni.id;

https://leetcode.com/problems/game-play-analysis-iv/

In [ ]:
SELECT
  ROUND(COUNT(DISTINCT player_id) / (SELECT COUNT(DISTINCT player_id) FROM Activity), 2) AS fraction
FROM
  Activity
WHERE
  (player_id, DATE_SUB(event_date, INTERVAL 1 DAY))
  IN (
    SELECT player_id, MIN(event_date) AS first_login FROM Activity GROUP BY player_id
  )

https://leetcode.com/problems/project-employees-i/

In [ ]:
SELECT p.project_id, ROUND(AVG(e.experience_years),2) AS average_years
FROM Project p 
LEFT JOIN Employee e
ON p.employee_id = e.employee_id
GROUP BY p.project_id

https://leetcode.com/problems/department-top-three-salaries/

In [ ]:
SELECT Department, Employee, Salary
FROM (
    SELECT 
        d.name AS Department,
        e.name AS Employee,
        e.salary AS Salary,
        DENSE_RANK() OVER (PARTITION BY d.name ORDER BY Salary DESC) AS rnk
    FROM Employee e
    JOIN Department d
    ON e.departmentId = d.id
) AS rnk_tbl
WHERE rnk <= 3;